body{
    background-image: url("PokerTable.jpg");
    background-repeat:repeat-y;
    background-size: cover;
    background-size: 100%;
}

#startingHeader{
    position: absolute;
    left: 42%;
    font-size: 50px;
}

#startGameButton{
    position: absolute;
    left: 48%;
    bottom: 50%;
    border-radius: 50%;
    border:none;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;


}

#DealerHand{
    position: absolute;
    left: 45%;
    top: 5%;
    visibility:hidden;
}

#PlayerHand{
    position: absolute;
    left: 45%;
    bottom: 10%;
    visibility: hidden;
}

#DealerHand{
    color:white;
}

#PlayerHand{
    color:white;
}

li{
    display: inline;
    display:flexbox;
}

ul{
    list-style-type: none;
    padding-left:0;
}