a{
    color: #000000;
    text-decoration: none;}
    
div.HyperLink{
    
    text-align: center;
    text-decoration: none;
}

.GavinAcostaHeader{
    text-align: center;
    color: #6F5A48;
    font-style: italic;
}

.cum{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
   margin-right: auto;
}

body{
    background-color: #F5F5DC;
    
}